In [4]:
import pandas as pd
s=pd.Series([1,2,3,4])
print(s)

0    1
1    2
2    3
3    4
dtype: int64

In [11]:
import pandas as pd
data={'Name':['Reena','Teena'],'Marks':[80,100]}
df=pd.DataFrame(data);
print(df)

    Name  Marks
0  Reena     80
1  Teena    100

In [17]:
s = pd.Series([10, 20, 30], index=['a','b','c'])
print(s)
print("Index labels:", s.index)

0    10
1    20
2    30
dtype: int64
Index labels: RangeIndex(start=0, stop=3, step=1)

In [24]:
s = pd.Series([1, 2, 3], index=['a','b','c'])
print(s)
print(s.reindex(['c','a','b','d']))

a    1
b    2
c    3
dtype: int64
c    3.0
a    1.0
b    2.0
d    NaN
dtype: float64

In [26]:
df = pd.DataFrame({'Name':['Rina','Tina'],'Marks':[85,90]})
print(df.drop(1))

   Name  Marks
0  Rina     85

In [30]:
s1 = pd.Series([1,2,3], index=['a','b','c'])
s2 = pd.Series([3,4,5], index=['d','b','c'])
print(s1 + s2)

a    NaN
b    6.0
c    8.0
d    NaN
dtype: float64

In [2]:
import pandas as pd
s = pd.Series([20,10,30])
print("Ranks:\n", s.rank())
print("Sorted:\n", s.sort_values())

Ranks:
 0    2.0
1    1.0
2    3.0
dtype: float64
Sorted:
 1    10
0    20
2    30
dtype: int64

In [3]:
import pandas as pd
df = pd.DataFrame({'Marks':[85,90,78,92]})
print("Mean:", df['Marks'].mean())
print(df.describe())

Mean: 86.25
           Marks
count   4.000000
mean   86.250000
std     6.238322
min    78.000000
25%    83.250000
50%    87.500000
75%    90.500000
max    92.000000

In [4]:
df = pd.DataFrame({'Marks':[85,90,78,92]})
print("Mean:", df['Marks'].mean())
print(df.describe())

Mean: 86.25
           Marks
count   4.000000
mean   86.250000
std     6.238322
min    78.000000
25%    83.250000
50%    87.500000
75%    90.500000
max    92.000000

In [6]:
import pandas as pd
arrays = [['class1','class1','class2','class2'],
          ['student1','student2','student1','student2']]
index = pd.MultiIndex.from_arrays(arrays)
s = pd.Series([85,90,75,95], index=index)
print(s)

class1  student1    85
        student2    90
class2  student1    75
        student2    95
dtype: int64

In [7]:
import pandas as pd
data = {'Name': ['Ravi','Sita','Kiran'],
        'Maths': [80,90,85],
        'Science': [70,95,88]}
df = pd.DataFrame(data)

df['Average'] = (df['Maths'] + df['Science'])/2
print(df)

    Name  Maths  Science  Average
0   Ravi     80       70     75.0
1   Sita     90       95     92.5
2  Kiran     85       88     86.5

In [8]:
import pandas as pd
data = [10, 20, 30, 40, 50]
series = pd.Series(data)
print("Pandas Series:")
print(series)

Pandas Series:
0    10
1    20
2    30
3    40
4    50
dtype: int64

In [9]:

list_data = series.tolist()
print("Series as Python List:", list_data)
print("Type of list_data:", type(list_data))

Series as Python List: [10, 20, 30, 40, 50]
Type of list_data: <class 'list'>

In [10]:
import pandas as pd
import numpy as np
exam_data = {
    'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily',
             'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
    'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
    'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
    'qualify': ['yes', 'no', 'yes', 'no', 'no',
                'yes', 'yes', 'no', 'no', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
# Create DataFrame with index labels
df = pd.DataFrame(exam_data, index=labels)
print("DataFrame:")
print(df)

DataFrame:
        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James    NaN         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes

In [11]:
df.loc[df['name'] == 'James', 'name'] = 'Suresh'
print("After changing James to Suresh:")
print(df)

After changing James to Suresh:
        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d     Suresh    NaN         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes

In [12]:
df['age'] = [20, 21, 19, 22, 20, 23, 24, 21, 22, 20]
print("DataFrame after adding 'age' column:")
print(df)

DataFrame after adding 'age' column:
        name  score  attempts qualify  age
a  Anastasia   12.5         1     yes   20
b       Dima    9.0         3      no   21
c  Katherine   16.5         2     yes   19
d     Suresh    NaN         3      no   22
e      Emily    9.0         2      no   20
f    Michael   20.0         3     yes   23
g    Matthew   14.5         1     yes   24
h      Laura    NaN         1      no   21
i      Kevin    8.0         2      no   22
j      Jonas   19.0         1     yes   20

In [13]:
columns_list = df.columns.tolist()
print("List of column headers:", columns_list)

List of column headers: ['name', 'score', 'attempts', 'qualify', 'age']

In [1]:
import pandas as pd
# Creating a Pandas Series
data = [10, 20, 30, 40, 50]
series = pd.Series(data)
print("Pandas Series:")
print(series)

Pandas Series:
0    10
1    20
2    30
3    40
4    50
dtype: int64

In [2]:
import pandas as pd
# Creating a Pandas Series
data = [10, 20, 30, 40, 50]
series = pd.Series(data)
print("Pandas Series:")
print(series)

Pandas Series:
0    10
1    20
2    30
3    40
4    50
dtype: int64

In [3]:
import pandas as pd
import numpy as np
exam_data = {
    'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily',
             'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
    'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
    'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
    'qualify': ['yes', 'no', 'yes', 'no', 'no',
                'yes', 'yes', 'no', 'no', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
# Create DataFrame with index labels
df = pd.DataFrame(exam_data, index=labels)
print("DataFrame:")
print(df)

DataFrame:
        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James    NaN         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes

In [4]:
import pandas as pd
import numpy as np

# Sample dictionary data and labels
exam_data = {
    'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael',
              'Matthew', 'Laura', 'Kevin', 'Jonas'],
    'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
    'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
    'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']
}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

# Create DataFrame
df = pd.DataFrame(exam_data, index=labels)

# Display original DataFrame
print("Original DataFrame:")
print(df)
# Change 'James' to 'Suresh' in the 'name' column
df.loc[df['name'] == 'James', 'name'] = 'Suresh'
# Display updated DataFrame
print("\nDataFrame after changing 'James' to 'Suresh':")
print(df)

Original DataFrame:
        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James    NaN         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes

DataFrame after changing 'James' to 'Suresh':
        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d     Suresh    NaN         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes

In [5]:
import pandas as pd
import numpy as np
# Sample dictionary data and labels
exam_data = {
    'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael',
              'Matthew', 'Laura', 'Kevin', 'Jonas'],
    'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
    'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
    'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']
}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
# Create the DataFrame
df = pd.DataFrame(exam_data, index=labels)

# Display original DataFrame
print("Original DataFrame:")
print(df)
# Insert a new column 'age' into the DataFrame
df['age'] = [14, 15, 16, 14, 15, 16, 17, 15, 14, 16]
# Display updated DataFrame
print("\nDataFrame after adding new column 'age':")
print(df)

Original DataFrame:
        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James    NaN         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes

DataFrame after adding new column 'age':
        name  score  attempts qualify  age
a  Anastasia   12.5         1     yes   14
b       Dima    9.0         3      no   15
c  Katherine   16.5         2     yes   16
d      James    NaN         3      no   14
e      Emily    9.0         2      no   15
f    Michael   20.0         3     yes   16
g    Matthew   14.5         1     yes   17
h      Laura    NaN         1      no   15
i      Kevin    8.0         2      no   14
j      Jonas   19.0         1     yes   16

In [6]:
import pandas as pd
import numpy as np
# Sample dictionary and labels
exam_data = {
    'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael',
              'Matthew', 'Laura', 'Kevin', 'Jonas'],
    'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
    'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
    'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']
}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
# Create DataFrame
df = pd.DataFrame(exam_data, index=labels)
# Get list of column headers
column_list = list(df.columns)
# Display the list
print("List of column headers:", column_list)

List of column headers: ['name', 'score', 'attempts', 'qualify']